<!DOCTYPE html>
<html>
<head>
    <title>Douglas Fir</title>
    {{#block "styles"}}
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="../css/styles.css">
    {{/block}}
</head>
<body>
<ul style="background-color:black;" class="nav justify-content-center">
    <li class="nav-item">
        <a id="nav" class="nav-link" href="/">NEWS</a>
    </li>
    <li class="nav-item">
        <a id="nav" class="nav-link" href="/allDepts">DEPARTMENTS</a>
    </li>
    <li class="nav-item">
        <a id="nav" class="nav-link" href="/allUsers">USERS</a>
    </li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <h1 id="h1" style="text-align:center; color:black;">NEWS_PORTAL</h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>
</div>
<footer class="footer">
<div class="container">
    <hr>
    <article>Stay Informed!</article>
</div>
</footer>
</body>
</html>